/* Font Home */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    background-color: rgb(18, 5, 56);
    width: auto;
    height: auto;
}

/*------------------------ Background ----------------------*/


/* Header css */
.header_home {
    align-items: center;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    background: transparent;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;
    box-shadow: 0.1px 0.1px 10px rgb(255, 255, 255, 0.5);
}

.logo_home {
    font-size: 36px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 750;
}

.header_link a {
    position: relative;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

/* Hover effect */
.header_link a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.header_link a:hover::before {
    width: 100%;
}

/* Container dropdown */
.dropdown_container {
    margin: 0;
    position: relative;
    display: inline-block;
}

/* Dropdown menu */

.dropdown {
    position: absolute;
    top: 100%;
    display: none;
    background-color: rgba(18, 5, 56);
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 10px rgba(255, 255, 255, 0.5);
    z-index: 100;
    list-style: none;
    min-width: 250px;
}

/* Dropdown item */
.dropdown li {
    padding-top: 10px;
    margin-bottom: 13px;
}

.dropdown li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    display: block;
    width: 70%;
}

/* Hover effect for dropdown links */
.dropdown li a:hover {
    color: white;
    width: 70%;
}

/* Tampilkan dropdown on hover */
.dropdown_container:hover .dropdown {
    display: block;
    width: 70%;
}


/* ------------------------------------------------------------------------ */

.border-bg {
    position: relative;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* Gambar akan berada di sebelah kiri, teks di kanan */
    grid-template-rows: auto auto;
    /* Baris pertama untuk gambar dan teks, baris kedua untuk gameplay */
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.1),
            rgba(242, 242, 242, 0.1),
            rgba(230, 230, 230, 0.1));
    width: 80%;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 170px;
    padding-right: 70px
}

.genshin {
    width: 200px;
    height: auto;
    grid-column: 1 / 2;
    /* Tempatkan gambar di kolom pertama */
    grid-row: 1 / 2;
    /* Tempatkan di baris pertama */
    max-width: 100%;
    padding-left: 20px;
}

/* Deskripsi Css */

.isi {
    position: relative;
    grid-column: 2 / 3;
    /* Tempatkan teks di kolom kedua */
    grid-row: 1 / 2;
    /* Tempatkan di baris pertama */
    margin-top: 5px;
    margin-left: 50px;
    width: 950px;
    height: 220px;
    background-color: #ffffff00;
    border-radius: 20px;
    border: 1px solid #ffffff;
    box-shadow: 0.1px 0.1px 5px rgb(255, 255, 255);
}

.nahida {
    position: relative;
    display: flex;
    margin-left: auto;
    right: 0;
    margin-top: -380px;
    width: 400px;
    height: 550px;
    margin-right: 50px;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 30%);
}

.isi h1 {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    z-index: 1;
    color: #ffffff;
}

.isi p {
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(254, 254, 254);
    text-align: justify;
}

/* Gameplay CSS */
.gameplay {
    margin-bottom: 200px;
    margin-left: 50px;
    grid-column: 1 / 3;
    /* Membuat gameplay memakan lebar dua kolom */
    grid-row: 2 / 3;
    /* Tempatkan gameplay di baris kedua */
    width: 100px;
    height: 100px;
}

.gameplay h1 {
    font-size: 30px;
    color: #fff;
}

.gameplay hr {
    border: none;
    margin-top: 8px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    width: 160px;
}

.video_game {
    display: flex;
    width: 100px;
    height: 200px;
    gap: 60px
}

.game1 {
    border-radius: 5px;
    margin-top: 40px;
    width: 500px;
    height: 210px;
    box-shadow: 0.1px 0.1px 5px rgb(255, 255, 255);
}

/* Div comment dan tim */
.comment_and_hsr_team {
    display: flex;
}

/* Detail Team */
.container_tim {
    border-radius: 20px;
    margin-left: 80px;
    background: transparent;
    box-sizing: border-box;
    width: auto;
    height: auto;
    max-width: 100%;
}

.judul_tim {
    color: #fff;
    margin-bottom: 33px;
}

.judul_tim hr {
    margin-top: 10px;
    color: #fff;
    width: 43%;
}

/* Team container */
.hsr_tim {
    display: flex;
    width: 920px;
    height: 570px;
    background: rgb(0, 0, 0);
}

.hsr_tim .gambar_team_1 {
    flex: 1;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.08, 0.82, 0.17, 1);
}

.hsr_tim .gambar_team_1:hover {
    flex: 2;
}

.hsr_tim .gambar_team_1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s cubic-bezier(0.08, 0.82, 0.17, 1)
}

.hsr_tim .gambar_team_1:hover img {
    opacity: 1 !important;
}

.hsr_tim .gambar_team_1 .overlay_team {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    opacity: 0;
    transform: translateY(10%);
    transition: all 1s cubic-bezier(0.08, 0.82, 0.17, 1);
}

.hsr_tim .gambar_team_1:hover .overlay_team {
    opacity: 1;
    transform: translateY(0%);
}

.hsr_tim .gambar_team_1 .overlay_team .desc_chara {
    position: absolute;
    bottom: 3rem;
    padding: 1rem;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.hsr_tim .gambar_team_1:hover .overlay_team .desc_chara {
    opacity: 1;
    transform: translateY(0%);
}

.hsr_tim .gambar_team_1 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.hsr_tim .gambar_team_1:hover video {
    display: block;
}

.desc_chara {
    position: absolute;
    color: #ffffff;
    text-align: left;
}

.desc_chara h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.desc_chara p {
    font-size: 0.9rem;
    line-height: 1.4;
    text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.5);
}

/* Footer */

.footer {
    margin-top: 300px;
    height: auto;
    width: auto;
    background: transparent;
    box-shadow: 0.1px 1px 20px rgb(255, 255, 255);
}

.copyright {
    padding-top: 3rem;
    bottom: 0;
    font-size: 1rem;
    opacity: 0.8;
    text-align: center;
    color: #fff;
}